/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-Icon-fire {
  size: 2rem;
  color: rgb(245, 9, 9);
}
